<?php

return [

    'expressive-redirect-handler' => [
        'allow_not_routed_url' => false,
        'default_url' => '/',
    ],

    'dependencies' => [
        'factories' => [
            ExpressiveRedirectHandler\Middleware\RedirectHandlerAction::class => ExpressiveRedirectHandler\Middleware\RedirectHandlerActionFactory::class,
        ],
    ],

    'middleware_pipeline' => [
        'always' => [
            'middleware' => [
                ExpressiveRedirectHandler\Middleware\RedirectHandlerAction::class
            ],
            'priority' => PHP_INT_MAX,
        ],
    ],

];
